<!-- Modal -->
<div class="modal fade" id="modelId4" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title">Agregar proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                        <div class="form-group">
                            <label for="proyecto">Proyecto</label>
                            <input type="text" class="form-control" id="proyecto" placeholder="Nombre del proyecto"
                                name="proyecto" [(ngModel)]="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion"
                                placeholder="Breve descripcion del proyecto" name="descripcion" [(ngModel)]="descripcion"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="url">Link</label>
                            <input type="text" class="form-control" id="url"
                                placeholder="Url del proyecto" name="url" [(ngModel)]="url"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Guardar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>