
<div class="col">
    <div id="st-2" class=" st-sticky-share-buttons st-left st-toggleable st-has-labels ">
        <a href="#aboutme" class="st-first" data-network="facebook" style="display: inline-block;">
            <i class="fa-regular fa-address-card"></i>
             <span class="st-label">Abt me</span>
        </a>
        <a href="#experiencia" data-network="linkedin" style="display: inline-block;">
            <i class="fa-solid fa-glasses"></i>            <span class="st-label">Exp.</span>
        </a>
        <a href="#educacion" data-network="twitter" style="display: inline-block;">
            <i class="fa-solid fa-graduation-cap"></i>            <!-- <i class="fa-solid fa-book-font"></i>             -->
            
            <span class="st-label">Educ.</span>
        </a>

        <a href="#skills" class="st-btn" data-network="messenger" style="display: inline-block;">
            <i class="fa-solid fa-computer"></i>            <span class="st-label">Skills</span>
        </a>
        <a href="#contacto" class="st-btn st-last" data-network="whatsapp" style="display: inline-block;">
            <i class="fa-regular fa-envelope"></i>            <span class="st-label">Contact</span>
        </a>
        <a href="#" class="st-toggle">
            <div class="st-left">
                <img alt="arrow_left sharing button" src="https://platform-cdn.sharethis.com/img/arrow_left.svg">
            </div>
            <div class="st-right">
                <img alt="arrow_right sharing button" src="https://platform-cdn.sharethis.com/img/arrow_right.svg">
            </div>
        </a>
    </div>
</div>